* text=auto !eol
.github/FUNDING.yml -text
/CMakeLists.txt -text
/README_EN.txt -text
/changelog.txt -text
core/cEci.cpp -text
core/cEci.h -text
core/cJulian.cpp -text
core/cJulian.h -text
core/cSite.cpp -text
core/cSite.h -text
core/cTLE.cpp -text
core/cTLE.h -text
core/cVector.cpp -text
core/cVector.h -text
core/coord.cpp -text
core/coord.h -text
core/core.vcxproj -text
core/core.vcxproj.filters -text
core/coreLib.h -text
core/exceptions.h -text
core/globals.cpp -text
core/globals.h -text
core/revHistory.txt -text
core/stdafx.cpp -text
core/stdafx.h -text
orbit/cNoradBase.cpp -text
orbit/cNoradBase.h -text
orbit/cNoradSDP4.cpp -text
orbit/cNoradSDP4.h -text
orbit/cNoradSGP4.cpp -text
orbit/cNoradSGP4.h -text
orbit/cOrbit.cpp -text
orbit/cOrbit.h -text
orbit/cSatellite.cpp -text
orbit/cSatellite.h -text
orbit/orbit.vcxproj -text
orbit/orbit.vcxproj.filters -text
orbit/orbitLib.h -text
orbit/revHistory.txt -text
orbit/stdafx.cpp -text
orbit/stdafx.h -text
/orbitTools.sln -text
/readme.txt -text
